body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(66, 66, 66, 1), rgba(115, 115, 115, 1));
    font-family: "Oswald", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container div {
    max-width: 600px;
}

.titulo {
    color: #af162a;
    font-weight: bold;
}

.nombre-pelicula {
    color: white;
}

.descripcion {
    color: white;
}

.descripcion span {
    color: #af162a;
}

.poster,
.poster-siguiente {
    height: 250px;
    border-radius: 10px;
}

.estrena {
    color: white;
}

.estrena span {
    color: #af162a;
}

.overview,
.siguiente-estreno,
.siguiente-pelicula {
    color: white;
}

.siguiente-estreno {
    color: #af162a;
}

h1 {
    margin: 10px 0;
}

h2 {
    margin: 20px 0;
}